---
import Layout from "../layouts/Layout.astro";
import Link from "../components/Link.astro";
import Title from "../components/Title.astro";
import Profile from "../components/Profile.astro";

const links = [
  {
    name: "GitHub",
    href: "https://github.com/ikanexus",
    icon: "mdi:github",
  },
  {
    name: "Twitter",
    href: "https://twitter.com/ikanexus",
    icon: "mdi:twitter",
  },
];
---

<Layout title="IkaNexus">
  <main>
    <Profile />
    <Title />
    <ul class="flex flex-col gap-4">
      {
        links.map((link) => (
          <li>
            <Link data={link} />
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
