<h1 class="text-4xl mx-auto pb-8 group text-center font-mono">
  Ika<span
    class="w-0 inline-flex animate-typewriter overflow-hidden whitespace-nowrap"
    >Nexus</span
  ><span class="inline-flex border-b-current border-b-4 w-4 animate-blinkCursor"
  ></span>
</h1>
