---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Ika" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon" />
    <meta name="generator" content={Astro.generator} />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
    <script defer src="https://st.ika.dev/script.js" data-website-id="96020d19-3f24-4edc-a615-7f4c0c5e3337" data-domains="ika.gg,ika.dev"></script>
  </head>
  <body>
    <div class="container mx-auto text-center max-w-sm md:max-w-2xl">
      <slot />
    </div>
  </body>
</html>
