---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Ika" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.bunny.net" />
    <link
      href="https://fonts.bunny.net/css?family=jetbrains-mono:500"
      rel="stylesheet"
    />
    <title>{title}</title>
    <script defer data-domain="ika.gg" data-api="/stats/api/event" src="/stats/js/script.js"></script>
  </head>
  <body>
    <div class="container mx-auto text-center max-w-sm md:max-w-2xl">
      <slot />
    </div>
  </body>
</html>
